/*
    INTRODUÇÃO

    O que signigica CSS?

    - Cascading Style Sheet
    - Código para criação de estilos no HTML
    - HTML é a estrutura, e o CSS é a beleza
    - Não é uma linguagem de programação
    - É uma linguagem style sheet
*/

/*
    COMENTÁRIOS

    - Não irá afetar o código
    - Ajuda a lembrar blocos de códigos
    - Deixa dicas de leitura
    - Ajuda outros a entenderem
    - Nunca esqueça de fechar um comentário aberto
*/

/*
    ANATOMIA

    - Selector -> h1
    - Declaration -> {
                        color: darkcyan;
                        font-size: 60px;
                        background: gray;
                     }
    - Properties -> color: darkcyan;
    - Property Value -> darkcyan
*/

h1{
    color: darkcyan;
    font-size: 60px;
    background: gray;
}

/*
    SELECTORS

    Conecta um elemento HTML com o CSS

    TIPOS

    - Global selector -> *
    - Element/Type selector -> h1, h2, p, div
    - ID selector -> #box, #container
    - Class selector -> .red, .m-4
    - Attribute selector, Pseudo-class, Pseudo-element e outros
*/

/*
    BOX MODEL

    - Quase tudo são caixas no CSS
    - Posicionamentos, tamanhos, espaçamentos, bordas, cores
    - Caixas podem ficar ao lado uma da outra, ou acima
    - Elementos HTML são caixas
*/

/*
    ADICIONANDO CSS

    - inline -> <h1 style="color:white;">Texto</h1>
    - <style></style> -> tag html contendo o CSS
    - <link> -> arquivo CSS externo
    - @import -> arquivo de fonte CSS externo (ex. Google Fonts)
*/

/*
    CASCADING - Cascata

    A escolha do browser de qual regra aplicar, caso haja
    muitas regras para o mesmo elemento.

    Seu estilo é lido de cima para baixo levando-se em 
    consideração 3 fatores:

    1- Origem do estilo
    2- Especificidade 
    3- Importância

    1- ORIGEM DO ESTILO

    inline    >   <style>   >   <link>


    
    2- ESPECIFICIDADE

    É um cálculo matemático, onde cada tipo de seletor e origem
    do estilo, possuem valores a serem considerados.

    0. Universal selector, combinators e negation pseudo-class(:not())
    1. Element type selector e pseudo-elements (::before, ::after)
    10. Classes e attribute selectors ([type="radio"])
    100. ID selector
    1000. Inline



    3- IMPORTÂNCIA

    - Cuidado, evite o uso
    - Não é considerado uma boa prática
    - Quebra o fluxo natural da cascata
    
*/
